@import "styles/file-browser.less";
body {
	background: black;
	font: normal 11px "Cantarell", Arial, Sans-serif;
	color: #eee;
}

#browser {
	float: left;
	height: 100%;
	width: 15em;
}
#editor-wrapper {
	overflow: hidden;
	height: 100%;
}
#editor {
	height: 100%;
	width: 100%;
}

.workspace {
	padding:0;
	margin:0;
	white-space: nowrap;
	width:100%;
}